src/main/mule/customer-xpapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <apikit:config name="customer-xpapi-config" api="resource::b887811a-0aee-4b43-baac-d6b92e9c11eb:customer-xpapi:1.0.1:raml:zip:customer-xpapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customer-xpapi-main">
        <http:listener config-ref="customer-xpapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" doc:id="577d148f-b75d-468e-801d-5449d8222f24" message="MainFlow Started"/>
		<apikit:router config-ref="customer-xpapi-config" />
		<logger level="INFO" doc:name="Logger" doc:id="5a406a1c-d29a-4f99-9e8f-2033378468ac" message="MainFlow completed"/>
		<error-handler ref="Error_Handler-APIKit" />
       
    </flow>
    <flow name="customer-xpapi-console">
        <http:listener config-ref="customer-xpapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-xpapi-config" />
		<error-handler ref="Error_Handler-APIKit" />
    </flow>
    <flow name="get:\healthCheck:customer-xpapi-config">
		<http:listener doc:name="Listener" doc:id="0342ea91-1804-46ef-82f7-1daefb8d2ce5" config-ref="customer-xpapi-httpListenerConfig" path="/healthcheck"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 200,
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers\registration:application\json:customer-xpapi-config">
        <http:listener doc:name="Listener" doc:id="056c204b-3383-4b45-88ca-a06ecbbdbbe4" config-ref="customer-xpapi-httpListenerConfig" path="/customer"/>
		<logger level="INFO" doc:name="Logger" doc:id="846407f0-e532-4e98-baa2-22cc10f63257" message="ConfigFlow Started"/>
		<logger level="INFO" message="post:\customers\registration:application\json:customer-xpapi-config" />
		<logger level="INFO" doc:name="Logger" doc:id="88758570-9ffe-4897-95e8-eb79a187161e" message="ConfigFlow completed"/>
    </flow>
</mule>
